<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276873097101-taesjvnrgoaafapbn89mkv7enj7a3itu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276873097101-taesjvnrgoaafapbn89mkv7enj7a3itu</string>
	<key>API_KEY</key>
	<string>AIzaSyBGQ7XwhBFmUnXCz4LiShjs1QBya1y5WCY</string>
	<key>GCM_SENDER_ID</key>
	<string>276873097101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KnowPro.KnowPro</string>
	<key>PROJECT_ID</key>
	<string>knowpro-app</string>
	<key>STORAGE_BUCKET</key>
	<string>knowpro-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276873097101:ios:3a0530076aa8168a</string>
	<key>DATABASE_URL</key>
	<string>https://knowpro-app.firebaseio.com</string>
</dict>
</plist>